extends layout 

block content 
  h1= title 

  p #[strong Name:] !{model.name}
  p #[strong Trim:] !{model.trim}
  p #[strong Year:] !{model.year}

  hr

  h4 Are you sure you want to delete this model?

  form(method='POST' action='')
    div.form-group
      input#modelid.form-control(type='hidden' name='modelid' required='true' value=model.id)
    button.btn.btn-primary(type='submit') Delete