extends layout 

block content 
  h1= title 

  ul 
    each model in models_list
      li 
        a(href=model.url) #{model.year} #{model.name} #{model.trim}

    else 
      li There are no models.